form.reset-password-form(@submit.prevent="resetPassword")
  .loading-screen(v-if="isLoading")
    spinner(size="big" line-fg-color="#e60000" line-bg-color="#ffffff")
  .form(:class="{ loading: isLoading }")
    h1 Reset Password
    .form-group
      input.form-input(type="password" placeholder="New Password" v-model="resetPasswordFormFields.new_password")
    p.form-error(v-for="error in resetPasswordFormErrors.new_password") {{ error }}
    .form-group
      input.form-input(type="password" placeholder="Confirm New Password" v-model="resetPasswordFormFields.new_password_confirmation")
    p.form-error(v-for="error in resetPasswordFormErrors.new_password_confirmation") {{ error }}
    .form-group
      button.submit(type="submit") Reset Password
  sweetModal(icon="success" ref="resetPasswordSuccess" class="reset-password-alert")
    h1 Password has been reset!
  sweetModal(icon="warning" ref="resetPasswordFailed" class="reset-password-alert")
    h2 {{ errorMessage }}