.forgot-password-page
  width 100%
  display flex
  justify-content center
  align-items center
  height 100%
  @media screen and (max-width: 1024px)
    justify-content center
    display block
  .forgotPasswordForm
    width 500px
    margin 0 auto
    min-height 700px
    display flex
    justify-content center
    align-items center
    @media screen and (max-width: 768px)
      width 90%
      margin 0 auto
      min-height unset