.side-bar
  width 100%
  min-height 600px
  background var(--primary-color)
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  .profile-container
    .profile-image-container
      display flex
      justify-content center
      .profile-image
        width 200px
        height 200px
        border-radius 50%
        box-shadow 3px 3px 20px var(--dark-primary-color)
        cursor pointer
  .navigation-container
    width 100%
    display flex
    .side-nav
      width 100%
      padding 0 0 0 20px
      a
        color var(--secondary-color)
        text-decoration none
      .nav-item
        display flex
        justify-content flex-start
        align-items center
        width 100%
        list-style none
        font-family "Lato"
        padding 10px 0