.single-post-page
  .media-query-laptop-above
    display flex
    justify-content center
    align-items center
    .post-container
      width 600px
      color var(--primary-color)
      text-align center
      .empty
        padding 50px
        border 1px dashed var(--dark-primary-color)
  .media-query-tablet-below
    margin-top 50px
    display flex
    justify-content center
    align-items center
    .post-container
      width 100%
      color var(--primary-color)
      text-align center
      .empty
        padding 20px
        border 1px solid var(--dark-primary-color)