form.forgot-password-form(@submit.prevent="forgotPassword")
  .loading-screen(v-if="isLoading")
    spinner(size="big" line-fg-color="#e60000" line-bg-color="#ffffff")
  .form(:class="{ loading: isLoading }")
    h1 Forgot Password
    .form-group
      input.form-input(type="email" placeholder="Email Address" v-model="forgotPasswordFormFields.email")
    p.form-error(v-for="error in forgotPasswordFormErrors.email") {{ error }}
    .form-group
      button.submit(type="submit") Send
  sweetModal(icon="success" ref="forgotPasswordSuccess" class="forgot-password-alert")
    h1 Password reset link has been sent to your email
    p redirecting to login page...
  sweetModal(icon="warning" ref="forgotPasswordFailed" class="forgot-password-alert")
    h2 {{ errorMessage }} 