.faqs-page
  .media-query-laptop-above(v-if="$mq !== 'mobile' && $mq !== 'tablet'")
    .faqs
      h1 FAQs
      h2 Terminologies
      p The site uses new terminologies to differentiate itself from other social media sites. Terminologies borrowed from insects!
      p We Use insect terms such as BITE (like/love a post), STING (dislike a post), BUZZ (share), HIVE (friends), BUGGERS (followers), etc.

      h2 Posting
      p To post, simply upload/take a picture or video of the brand of your choice. Write a short story/narrative/testimonial of the brand event and tag the name of the brand.

      h2 System
      p It uses point system which encourages users to post more! A first time user (egg) to the established/mature bug (King Beetle, Queen Bee and Butterfly).
      p Each level enables you to unlock certain features of the site and be rewarded with exciting honeys from our partner establishments (soon).
  .media-query-tablet-below(v-if="$mq === 'mobile' || $mq === 'tablet'")
    h2.heading.greetings
      | Sharing life's memories with the 
      span.highlight brands
      |  we love
    .faqs
      h1 FAQs
      h2 Terminologies
      p The site uses new terminologies to differentiate itself from other social media sites. Terminologies borrowed from insects!
      p We Use insect terms such as BITE (like/love a post), STING (dislike a post), BUZZ (share), HIVE (friends), BUGGERS (followers), etc.

      h2 Posting
      p To post, simply upload/take a picture or video of the brand of your choice. Write a short story/narrative/testimonial of the brand event and tag the name of the brand.

      h2 System
      p It uses point system which encourages users to post more! A first time user (egg) to the established/mature bug (King Beetle, Queen Bee and Butterfly).
      p Each level enables you to unlock certain features of the site and be rewarded with exciting honeys from our partner establishments (soon).