.logged-out
  width 100%
  .red-navbar-container
    width 100%
    display flex
    justify-content center
    background var(--primary-color)
    .redNavbar
      width 1366px
  .router-view-container
    width 100%
    display flex
    justify-content center
    background #eee
    padding 40px 0
    .router-view
      width 1366px
      max-width 1366px
  .footer-container
    width 100%
    display flex
    justify-content center
    align-items center
    .footer-component
      width 1366px
      text-align center