.loading-screen
  position absolute
  width 100vw
  height 100vh
  background #ffffff
  // background rgba(255, 255, 255, 0.53)
  display flex
  justify-content center
  align-items center
  z-index 1000