.logged-out-with-bg
  .red-navbar-container
    .redNavbar
      redNavbar
  .router-view-container
    .router-view
      router-view
  .footer-container(v-if="$mq !== 'mobile' && $mq !== 'tablet'")
    .footer-component
      footerComponent