.profile-banner
  width 100%
  .banner
    width 100%
    background var(--custom-red)
    display flex
    justify-content center
    align-items center
    box-shadow 3px 3px 5px var(--dark-custom-red)
    color var(--secondary-color)
    padding 15px 0
    .image
      width 40%
      display flex
      justify-content center
      align-items center
      img
        width 125px
        height 125px
        border 1px solid var(--dark-primary-color)
        border-radius 50%
        object-fit cover
        box-shadow 3px 3px 5px var(--dark-primary-color)
    .details
      width 60%
      .detail
        display flex
        justify-content center
        align-items center
        #left
          width 50%
          display flex
          justify-content center
          align-items flex-start
          flex-direction column
        #right
          width 50%
          display flex
          text-align center