.single-profile-modal-container
  width 100%
  height 100vh
  position fixed
  left 0
  top 0
  background rgba(0, 0, 0, 0.75)
  z-index 100
  &.closed
    display none
  .single-profile-modal
    background var(--secondary-color)
    color var(--black-color)
    font-family "Lato"
    height 80vh
    width 600px
    margin 10vh auto
    border-radius 4px
    @media screen and (max-width: 768px)
      width 90%
      height 90vh
      margin 5vh 5%
    .single-profile-header
      height 4vh
      display flex
      justify-content center
      align-items center
      margin 0.5vh 0
      .buttons
        width 100%
        display flex
        justify-content flex-end
        align-items center
        .button
          padding 6px 12px
          background var(--primary-color)
          color var(--secondary-color)
          border 1px solid var(--dark-primary-color)
          border-radius 4px
          box-shadow 1px 1px 3px var(--dark-primary-color)
          margin 0 5px
          cursor pointer
          &#pest
            background var(--black-color)
            border 1px solid var(--black-color)
            box-shadow 1px 1px 3px var(--black-color)
    .single-profile-body
      width 100%
      height 70vh
      overflow-x hidden
      overflow-y scroll
      @media screen and (max-width: 768px)
        height 80vh
      .divider
        width 100%
        border 1px dashed var(--dark-primary-color)
        margin 15px 0
      .userPostsContainer
        margin 10px 0 0
        padding 0px 10px
    .single-profile-footer
      height 5vh
      .close
        font-family "Lato"
        width 100%
        height 100%
        background var(--primary-color)
        color var(--secondary-color)
        border 1px solid var(--dark-primary-color)
        border-bottom-left-radius 4px
        border-bottom-right-radius 4px
        cursor pointer
        &:active, &:focus
          outline none