form.change-password-form(@submit.prevent="updatePassword")
  .loading-screen(v-if="isLoading")
    spinner(size="big" line-fg-color="#e60000" line-bg-color="#ffffff")
  h1 Change Password
  .form
    .form-group
      label.label-for-input(for="old_password") Old Password
      input.form-input(type="password" placeholder="Old Password" v-model="passwords.old_password")
    p.form-error(v-for="error in passwordErrors.old_password") {{ error }}
    .form-group
      label.label-for-input(for="new_password") New Password
      input.form-input(type="password" placeholder="New Password" v-model="passwords.new_password")
    p.form-error(v-for="error in passwordErrors.new_password") {{ error }}
    .form-group
      label.label-for-input(for="new_password_confirmation") Confirm New Password
      input.form-input(type="password" placeholder="Confirm New Password" v-model="passwords.new_password_confirmation")
    p.form-error(v-for="error in passwordErrors.new_password_confirmation") {{ error }}
    .form-group
      button(type="submit" class="submit") Change Password
  sweetModal(icon="success" ref="changePasswordSuccess" class="change-password-alert")
    h1 Password changed!