.ribbon-container
  .ribbon-outline
    .ribbon
      .visible-content
        router-link(:to="{ name: 'Landing Page' }")
          img.brand-logo(src="@/assets/images/brand.png" alt="MyBrandBug Home")